<p><%= @user.fullname %>,</p>

<p><%= t 'mailers.applied_on_behalf', applicant: @applicant_pronoun, organization: @application.organization.name %></p>

<% unless @is_applicant %>
  <p><%= t 'mailers.reason_for_notification', position: @user.title.titleize %></p>
<%end %>

<p><%= t 'mailers.stay_updated', link: link_to("here", application_url(@application)) %></p>


<% unless @is_applicant %>
  <p><%= t 'mailers.click_to_confirm', link: link_to("here", @verify_link) %></p>
<% end %>

<p><%= t 'mailers.closing' %></p>