<p><%= @user.fullname %>,</p>

<p>
  <%= t('mailers.grant_approved', name: @application.organization.name.titleize.possessive, final_amount: number_to_currency(@application.final_amount) ) %>
</p>

<p>
  <%= t('mailers.closing') %>
</p>