<p><%= @user.fullname %>,</p>

<p><%= t 'mailers.date_of_vote_assigned', organization: @application.organization.name.titleize.possessive, date: @application.date_of_vote %></p>

<p><%= t 'mailers.come_to_meeting' %></p>

<p><%= t 'mailers.contact_treasurer' %></p> 

<p><%= t 'mailers.closing' %></p>