= render partial: "applications/steps/head", locals: {current: :application}
.content
	= simple_form_for @application, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
		= f.input :organization_id, as: :hidden
		= f.input :funds_needed_by, order: [:month, :day, :year]
		= f.input :reason_for_funds, placeholder: "How will an SGA grant benefit your organization?", input_html: {rows: 1}, required: true
		= f.input :impact_on_univ, :label => "Impact on WVU", placeholder: "How will this grant improve WVU?", input_html: {rows: 1}, required: true
		= f.input :additional_info, placeholder: "Anything else?", input_html: {rows: 1}

		.well.text-right.push40down
			= f.submit "Next", :class => "submit-button btn btn-primary"