#gov_update.modal.fade
  .modal-dialog
    = simple_form_for @application, :url => governor_update_application_path(@application, format: :json), :method => :put, :remote => true, :html => {:id => "gov_form", :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title Governor Actions
        .modal-body
          - if @application.requires_date_of_vote?
            = f.input :date_of_vote, order: [:month, :day, :year], required: true
          - if @application.requires_vote_result?
            = f.input :vote_result, collection: [["Approved", "approved"], ["Denied", "denied"]], include_blank: "Select the vote result"
            .div.final_amt_contain{:style=>"display:none;"}
              = f.input :final_amount, as: :currency
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Submit", :class => "btn btn-primary"
