.page-header
  %h2 Finance Report
.row.white.jumbotron
  %h3.text-center= t('application.funding_remaining', remaining_funds: @remaining_funds)

  %p.text-center.push40down
    %span.finance_text You can give a total of 
    %input.number_of_grants.form-control{type: "number", value: @number_at_five_hundred, data: {remaining: @remaining_funds}}
    %span.finance_text more grants at the amount of
    %span.amount_can_give_container
      %span.input-group
        %span.input-group-addon $
        %input.amount_can_give.form-control{type: "number", value: @amount_can_give, step: "0.01"}