.helpdoc
  .page-header
    %h1 Help
  .container
    %p 
      %i PLEASE READ ALL OF THE FOLLOWING BEFORE CONTINUING. THIS DOCUMENT CONTAINS IMPORTANT DATES AND INFORMATION YOU MUST KNOW BEFORE YOU FILL OUT YOUR GRANT APPLICATION. 

    %p 
      %strong.underline SECTION 6. STUDENT ORGANIZATION GRANT POLICY.
      SGA will set aside a portion of funds to be allocated in the form of grants for the benefit of West Virginia University Student Organizations as stated in Article IV, Section 5 of the Constitution of the Student Government Association. The Student Organization Grants will be subject to the following criteria; 

    %ol
      %li
        %span Student Organizations requesting funding must be recognized as an official West Virginia University Student Organization and must meet any criteria as set forth by the Office of Student Organizations Services, such as but not limited to, completing an annual officer update application and publishing organization meeting dates and times on the University Calendar. 

      %li
        %span Student Organizations requesting funding shall attend at least one SOPAC meeting within a calendar year of receiving SGA student organization grant funds. 

      %li
        %span Student Organizations requesting funding must submit an application, as approved by the Bureau of Finance, at least two weeks before the requested date of funds. 

      %li
        %span Each Student Organization may only receive one approved grant per academic year to fund one organization event, initiative, or project. A grant request must take place within the same academic year in which the funding request is submitted. No funding may be awarded after May 15th. 

      %li 
        %span Grant funding will be allocated in amounts to Student Organizations according to the following guideline structure:
        
        %ol
          %li
            %span Funding requested at $1 to $500. Requested funds must go to the benefit of students at West Virginia University. An organization’s fundraising history will be taken into account in determining the necessity of the grant request. 

          %li
            %span Funding requested at $501 to $1,000. Requested funds must go to the benefit of the whole organization’s student membership. An organization’s fundraising history, community service, and campus activity will be taken into account in determining the necessity of the grant request. 

          %li
            %span Funding requested at $1,001 to $1,500. Requested funds must go to the benefit of students in large across West Virginia University beyond the organization’s general membership. An organization’s fundraising history, community service, campus activity, and local community outreach will be taken into account in determining the necessity of the grant request. 

      %li
        %span Student Organizations requesting funds must comply with any additional information requested by the Bureau of Finance within the scope of the grant request. 

      %li
        %span Student Organizations requesting funds will be given at least one opportunity to present their request for grant funding to the Student Board of Governors before being voted upon by the same Board. The Bureau of Finance may give a recommendation on the Student Organization’s grant request to the Student Board of Governors during this time. The Student Board of Governors will be responsible for the final decision on approving or denying a Student Organization’s Grant request. 

    %p You will be contacted by a representative of the Student Government Association when your grant application is going to be presented to the Board. The email you use to complete the application will be contacted. 

    %p Please fill out the following application as fully as possible. More information allows the Bureau of Finance to make confident recommendations based on your financial need.