.page-header
  %h2 Applications
.container
  %ul.nav.nav-tabs.nav-justified
    - @statuses.each do |status|
      %li{class: "#{'active' if status == @statuses.first}" }
        %a{id: "#{status}_tab", href: "##{status}", data: {toggle: "tab"}}= status.titleize
  .tab-content
    #pending.tab-pane.fade.in.active
      %table#pending_table.table.table-striped.table-hover{data: {url: applications_path(format: :json), tab: "#pending_tab"}}
        %thead
          %tr
            %th{"data-dynatable-sorts" => "#{Organization.table_name}.name"} Organization
            %th{"data-dynatable-sorts" => "amt_requested", "data-dynatable-no-sort" => "true"} Amount Requested
            %th.hidden-xs{"data-dynatable-sorts" => "funds_needed_by"} Needed By
            %th{"data-dynatable-sorts" => "date_of_vote"} Date of Vote
            %th.hidden-xs{"data-dynatable-sorts" => "#{Application.table_name}.created_at"} Created
        %tbody
    #archived.tab-pane.fade
      %table#archived_table.table.table-striped.table-hover{data: {url: applications_path(type: :archived, format: :json), tab: "#archived_tab"}}
        %thead
          %tr
            %th{"data-dynatable-sorts" => "#{Organization.table_name}.name"} Organization
            %th.hidden-xs{"data-dynatable-sorts" => "amt_requested", "data-dynatable-no-sort" => "true"} Amount Requested
            %th.hidden-xs{"data-dynatable-sorts" => "date_of_vote"} Date of Vote
            %th.hidden-xs{"data-dynatable-sorts" => "final_amount"} Approved Amount
            %th{"data-dynatable-sorts" => "vote_result"} Vote Result
            %th{"data-dynatable-sorts" => "#{Application.table_name}.created_at"} Created
        %tbody
    #incomplete.tab-pane.fade
      %table#incomplete_table.table.table-striped.table-hover{data: {url: applications_path(type: :incomplete, format: :json), tab: "#incomplete_tab"}}
        %thead
          %tr
            %th{"data-dynatable-sorts" => "#{Organization.table_name}.name"} Organization
            %th.hidden-xs{"data-dynatable-sorts" => "amt_requested", "data-dynatable-no-sort" => "true"} Amount Requested
            %th{"data-dynatable-sorts" => "#{Application.table_name}.created_at"} Created
            %th{"data-dynatable-no-sort" => "true"} Actions
        %tbody
