.app-show
  - if @application.requires_governor_attention? && (can? :governor_update, @application) && @application.complete
    .alert.alert-info.gov-update-alert
      %p= link_to "Update", "#gov_update", class: "btn btn-white pull-right", data: {toggle: "modal"}
      %h4= current_user.try(:fname) + ","
      %p= @application.governor_message
  .page-header
    %h3= @application.organization.name
  .row
    .container
      %ul.nav.nav-tabs.nav-justified
        %li.active
          %a{href: "#application", data: {toggle: "tab"}} Application
        %li.dropdown
          %a#orgs_tab_link.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
            %span Organization
            %b.caret
          %ul.dropdown-menu{role: "menu", aria: {labelledby: "orgs_tab_link"}}
            %li
              %a{href: "#basic", tabindex: "-1", data: {toggle: "tab"}} Basic Info
            %li
              %a{href: "#leadership", tabindex: "-1", data: {toggle: "tab"}} Leadership
            %li
              %a{href: "#financial", tabindex: "-1", data: {toggle: "tab"}} Fundraising History
            - if can? :view_comments, Organization
              %li
                %a{href: "#comments", tabindex: "-1", data: {toggle: "tab"}} Comments
        %li
          %a{href: "#event", data: {toggle: "tab"}} Event
        - if @application.event && @application.event.transportation
          %li
            %a{href: "#transportation", data: {toggle: "tab"}} Transportation
        - if @application.event && @application.event.hotel
          %li
            %a{href: "#hotel", data: {toggle: "tab"}} Hotel
        %li
          %a{href: "#expenditures", data: {toggle: "tab"}} Expenditures
      .tab-content
        #application.tab-pane.fade.in.active
          - formatted_application_fields(@application)
        = render partial: "organizations/tab_content", locals: {active: false}
        #event.tab-pane.fade
          - formatted_event_fields(@application.event) if @application.event
        #transportation.tab-pane.fade
          - formatted_transportation_fields(@application.event.transportation) if @application.event && @application.event.transportation
        #hotel.tab-pane.fade
          - formatted_hotel_fields(@application.event.hotel) if @application.event && @application.event.hotel
        #expenditures.tab-pane.fade
          %table.table.table-striped
            %thead
              %tr
                %th Type
                %th Cost
                %th Description
            %tbody
              - @application.expenditures.each do |e|
                %tr
                  %td= e.expenditure_type.try(:name)
                  %td= number_to_currency(e.try(:cost))
                  %td= e.try(:description)
              - if @application.event && @application.event.transportation
                %tr
                  %td= "Transportation"
                  %td= number_to_currency(@application.event.transportation.cost)
                  %td= @application.event.transportation.company_name.titleize
              - if @application.event && @application.event.hotel
                %tr
                  %td= "Hotel"
                  %td= number_to_currency(@application.event.hotel.total_cost)
                  %td= number_of_rooms_description(@application.event.hotel)
= render partial: "gov_update" if @application.requires_governor_attention? && (can? :governor_update, @application)