= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.input :fname, :label => "First Name", :required => true, :as => (@user.fname.nil? ? :string : :hidden)
  = f.input :lname, :label => "Last Name", :required => true, :as => (@user.lname.nil? ? :string : :hidden)
  = f.input :email, :as => :email, :required => true
  - if f.object.role_greater_than_or_equal_to?(:admin) || Rails.env.development?
    = f.input :role, :collection => User::ROLES, :required => true, :label_method => :titleize
  .well.row.push40down
    = f.button :submit, :class => 'btn btn-primary pull-right'
    - if f.object.completed_signup?
      = link_to "Cancel", user_path(@user), :class => 'btn btn-default'