.page-header
  %h1= @user.fullname

.info-container
  %dl.dl-horizontal
    %dt Name:
    %dd= @user.fullname
    %dt Email:
    %dd= @user.email
    %dt MIX Username:
    %dd= @user.username
    - if @user.role_greater_than_or_equal_to?(User::ROLES[1])
      %dt Role:
      %dd= @user.role.titleize

.well.text-right.push40down
  = link_to "Edit", edit_user_path(@user), :class => 'btn btn-primary'
