- content_for :jumbotron do
  .jumbotron
    .container
      %h1 SGA Grants
      %p= t 'welcome.tagline'
      %p= link_to "Get started", organizations_path, class: "btn btn-primary"

.row
  .container
    .col-sm-4
      %h2 Apply for a grant
      %p= t 'welcome.apply'

      %p It's easy to apply:
      %ol
        - unless user_signed_in?
          %li
            = link_to "Login", new_user_session_path
            with your WVU MasterID
        %li Find your organization
        %li Click 'Apply for Grant'
      %p
        %strong= t 'welcome.apps_submitted', count: @app_count
          
    .col-sm-4
      %h2 Discover organizations
      %p= t 'welcome.orgs_count', org_count: @org_count, cat_count: @cat_count
      %p= t 'welcome.discover_orgs'
    .col-sm-4
      %a.twitter-timeline{href: "https://twitter.com/wvusga", "data-widget-id" => "437794563999010816", height: "400"}
        Tweets by @wvusga
      %script{src: "//platform.twitter.com/widgets.js"}
