// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$primary-color: #2C3E50;
$text-color: $primary-color;

$page-title-color: #ecf0f1;

$current-menu-item-background: darken($primary-color, 5%);
$hover-menu-item-background: $primary-color;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


body.active_admin {
  .header {
    background: $primary-color !important;
    h1, li, a {
      color: $secondary-color !important;
    }
  }

  .title_bar {
    background: $page-title-color !important;
    // border: 0 !important;
    // box-shadow: none !important;
  }

  .panel {
    background: $page-title-color !important;
//     border: $page-title-color !important;

    h3 {
      background: $page-title-color !important;
      // border: 0 !important;
      // box-shadow: none !important;
    }
  }

  .has_nested > a {
    z-index: 999 !important;
  }

  .has_nested {
    ul {
      background: #ffffff !important;
      border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -webkit-border-radius: 0 !important;

      li a{
        color: $primary-color !important;
        text-shadow: none !important;
      }

      li:hover {
        background-color: $primary-color !important;
        a {
          color: #ffffff !important;
        }
      }
    }
  }

  hr {
    background-color: $primary-color !important;
    height: 1px;
    border: 0;
  }

  tr.even td {
    background: $page-title-color !important;
  }

  tr.odd td {
    background: lighten($page-title-color, 3%) !important;
  }

  thead > tr > th {
    background: $page-title-color !important;
  }


  //buttons
  .action_item a, .clear_filters_btn, input[type=submit] {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
  }

  .action_item a, .clear_filters_btn {
    background: #ffffff !important;
  }

  input[type=submit] {
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
  }
}


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
