.dynatable-search .form-control { display: inline; width: 60%;}
.dynatable-per-page .form-control { display: inline; width: 100px;  }
.dynatable-top { margin: 20px 0; }
.dynatable-search { float: right; text-align: right; }
.dynatable-pagination { float: right; }
.dynatable-record-count { float: left; }
.dynatable-pagination li {
	.dynatable-page-break { color: white; }
	a:hover, a:active { color: white; cursor: pointer; }
	&:first-child { display: none; }
	.dynatable-page-prev { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
	.disabled {
		&:hover, &:active { background: lighten(#3498DB, 15%); }
		background: lighten(#3498DB, 15%);
	}
}

.helpdoc {
	ol { list-style-type: upper-roman;	}
	li {
		padding-bottom: 1em; font-weight: bold;
		ol { list-style-type: lower-roman; padding-top: 1em; }
		span { font-weight: normal; }
	}
}

#fundraising_hist_table {
	.remove_assoc {
		vertical-align: middle;
	}
}

.number_of_grants {
	margin-left: 5px;
	margin-right: 5px;
	width: 20%;
	display: inline-block;
}

tr.error-row td {
	color: red;
}

.white.jumbotron {
	background-color: #ffffff;
}

.amount_can_give_container {
	width:20%;
	display:inline-block;
	vertical-align:middle;
	margin-left: 5px;
}

.form-horizontal .input-prepend input.currency {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	width: 181px;
}

td.row-title {
	font-weight: bold;
	text-align: right;
	height: 50px;
}

.page-header small.pull-right {
	padding-top: 15px;
}

.page-header .page-title {
	font-size: 1.5em;
}

.app-progress {
	height:30px;
	position: relative;
	margin-bottom: 5em;
}

.app-step {
	position: absolute;
	text-align: center;
	font-size: 1.1em;
	margin-top:5px;
}

.app-step.active {
	font-weight: bold;
}

.app-step.inactive {
	color: #2c3e50;
}

.app-step.complete {
	color: #eee;
}

.step-content-name {
	display: none;
}

.application_value_field {
	text-indent: 3%;
}

.wice-grid-container .pagination_status {text-align:right;}

.expenditures {
	.remove_fields {
		display: inline;
		text-decoration: none;
		background-color: #95a5a6;
		padding: 5px;
		padding-bottom: 1px;
		border-radius: 4px;
		border-color: #95a5a6;
		line-height: 3;

		span.remove_assoc {
			float: none;
			opacity: 0.8;
			color: #fff;
		}

		span.removelink { display:none; }
	}
	.remove_fields:hover {
		background-color: #7f9293;
		border-color: #7f9293;
	}
	
	.expenditure_inputs {
		margin-bottom: 5px;
		.col-md-3 {
			padding-right: 0;
		}
	}
}

.add-one-association {
	text-align: center;
	margin-top: 40px;

	.add-one-wrap { display:inline-block; }
}

.question { margin-right: 10px; display: inline-block;}

.fix_long_textareas textarea { height: 40px; }

@media (min-width: 767px) {
		span.remove_assoc:before {
			content: attr(data-desktop);
		}
}

@media (max-width: 1024px) {
	.amount_can_give_container {
		width: inherit;
		margin-top: 7px;
	}
}

@media (max-width: 766px) {
	.finance_text {
		display: block;
		padding-bottom: 10px;
	}
	.number_of_grants, .amount_can_give_container  {
		width: 80%;
		margin: 0 auto;
	}
	.finance_text {
		font-size: 1.2em;
	}

	.question { display: block; }

	.content {
		width: 90%;
		margin: 0 auto;
	}

	.app-step .step_title {
		display: none;
	}

	.expenditure_inputs, .fundraising_hist {
		margin-bottom: 25px !important;

		.col-sm-1 .remove_fields {
			float: right;
			color: #fff;
			margin: 0;
			padding: 0 5px;
			margin-top: 10px;
		}

		.remove_assoc {
			font-weight: 300;
			font-size: 15px;
		}

		.remove_assoc:after {
			content: attr(data-mobile);
		}
	}


}