@import "flatly/all";
@import "applications";
@import "applications";
@import "organizations";
@import "nprogress/nprogress";
@import "users";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

footer {
  height: 120px;
  background-color: #ecf0f1;
  margin: 2em 0;
  margin-bottom: 0;
  ul { padding-top: 20px; }
  li {float:left;margin-right:1.5em;margin-bottom:1.5em}
  p {clear:left;margin-bottom:0}
  small {font-size: 80%;}
}

select.date {
  display: inline-block;
  width: auto;
}

.jumbotron {
  margin-top: 50px;
}

#nprogress {
	.bar, .spinner { z-index: 99999; }
	.spinner { top: auto; bottom: 15px; }
}

#content .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

.push40down {
	margin-top:40px;
}

.underline {
	text-decoration: underline;
}

.loadie {
	position: fixed;
	top: 60px;
	left: 0;
	background-color: #3498DB;
	width: 0;
	height: 3px;
	-webkit-transition: width 0.5s ease-out;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}

.alert {
	margin-top: 10px;
}

.main_content {
	margin-top: 60px;
}

.center {
	text-align: center;
}

.btn.btn-white {
	background-color: #fff;
	color: #2C3E50;
	border-color: #eee;

	&:hover, &:focus {
		background-color:#eee;
	}

}

.alert .btn {
	text-decoration: none;
}

@media (max-width: 766px) {

  html {
    width: auto !important;
    overflow-x: hidden !important;
  }
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  td {
  	max-width: 3em;
  }

	.alert {
		margin-bottom: 0;
		margin-top: 0;
	}

	.page-header {
		h2, h3 {
			margin: 0;
		}
	}

	.main_content {
		padding-right: 0;
		padding-left: 0;
	}

	.dl-horizontal dd { margin-left: 20px; }

	.user-login-dd.nav {
		float: left !important;
		margin: 0 -15px;
		width: 100%;
	 }

	.page-header {
		background-color: #ecf0f1;
		border: #d7e0e2;
		color: #2c3e50;
		margin: 0 !important;
		padding: 15px 10px;
	}


	.main_content {
		// margin-top: 40px;
		.container {
			margin-top: 20px;
		}

		.without_header_mobile {
			// margin-top: 20px;
			.page-header { display:none; }
		}
	}
}

@media (min-width: 767px) {
}
@media (min-width: 979px) {
}
@media (min-width: 1200px) {
}

