.comments {
  padding: 15px;
  .details { text-align: right; }
}

.search-wrap { margin-top: 25px; }

#results .list-group-item {
  margin: 0;
}

#help_modal {
  .page-header { display: none; }
  .modal-footer { text-align: left; }
}

#modal .modal-body {
  min-height: 10em;
}

.leadership_row {
  margin: 20px 0;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


.category-form {
  #category_id {
    width: 90%;
    display: inline-block;
  }
  .submit {
    width: 10%;
  }
}


#search_form {
  .twitter-typeahead .search {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .twitter-typeahead {
    display: block !important;
  }

  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    margin: 0;

  }

  .twitter-typeahead .tt-hint {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #2c3e50;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #dce4ec;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
  }

  .tt-suggestion {
    display: block;
    padding: 3px 20px;
  }

  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #2c3e50;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
  }

  .tt-suggestion.tt-is-under-cursor a {
    color: #fff;
  }

  .tt-suggestion p {
    margin: 0;
  }

}

.category {
  padding: 0;
}

.category .list-group {
  padding-left: 10px;
  padding-right: 10px;
}

.category .panel-title {
  text-align: center;
  color: #2c3e50;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}

.list-group {
  .list-group-item.active {
    color: #2c3e50;
    background-color: #ecf0f1;
    border-color: #ecf0f1;
  }
  .list-group-item.divider {
    text-align: center;
  }
  a.list-group-item:hover {
    text-decoration: underline;
  }
}

@media (max-width: 766px) {
  .orgs-search .search-width { 
    float: none !important;
    margin: 0 auto;
  }

  #category_id {
    margin-top: 30px;
  }

  .list-group-item {
    margin: 0 20px;
  }

  .category .list-group {
    margin-bottom: 0 !important;
  }
  .category {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}