/* Variables */
$wvublue: #00447c;
$wvugold: #eeb111;
$altblue: #005daa;

$lightgold: #ffe894;
$lightblue: #a0c4da;
$blue2: #0079c1;
$purple: #27318b;
$darkorange: #d9531e;
$orange: #f47b20;
$darkgrey: #455560;
$midgrey: #5c6f7c;
$black: #000;

$red: #bb471a;
$greyblue: #abc;
$greylight: #e0e0e0;
$bluevibrant: #39f;
$bluegrey: #369;
$purplebrightright: #60c;

/* Modify Foundation Variables for Accordions (http://foundation.zurb.com/docs/) */
$section-title-color: $darkorange;
$section-title-color-active: $darkorange;
$section-title-bg: #fff;
$section-title-bg-active: $greylight;
$section-title-bg-active-tabs: #fff;
$section-title-bg-hover: $greylight;
$section-border-size: 1px;
$section-border-style: solid;
$section-border-color: #ccc;
$section-content-bg: #fff;

@import "foundation/components/global";
@import "foundation/components/section";
@import "foundation/components/reveal";
@import "foundation/components/tables";

.section-container {
  .title {
    margin-top: 0;
    a {
      font-size: .97em;
      text-transform: uppercase;
      &:hover { text-decoration: none;}
    }
  }
  .content.sixteen.columns { width: 100%; }
  p { max-width: 100%; }
}

.text-right {
  text-align: right;
}

#university .reveal-modal {
  padding: 0;
  .content { padding: 0; }
  table { width: 100%; height: 100%; border: 0;}
}

.submit_fresh_start {
  margin-top: 30px;
  float: right;
}

.alert {
  color: $wvublue;
  background: $lightgold;
  border: 1px solid $wvugold;
  border-radius:2px;
  padding:10px;
  margin:10px 0;
  .close { display: none; }
}

@media only screen and (max-width: 767px) {
  .hide-phone { display: none; }
  .show-phone { display: block; }
}

@media only screen and (min-width: 768px) {
  .show-phone { display: none; }
}

