%table.table.table-condensed.table-striped
  %tr
    %td.row-title Name
    %td= @organization.name || content_tag(:em, "Missing")
  %tr
    %td.row-title Description
    %td= @organization.description || content_tag(:em, "Missing")
  %tr
    %td.row-title Website
    %td= @organization.website ? content_tag(:a, "#{@organization.name.possessive} website", :href => @organization.website) : content_tag(:em, "Missing")
  %tr
    %td.row-title Purpose
    %td= @organization.purpose || content_tag(:em, "Missing")
  %tr
    %td.row-title Number of Members
    %td= @organization.number_of_members || content_tag(:em, "Missing")
  %tr
    %td.row-title Primary Category
    %td= @organization.primary_category.name
  %tr
    %td.row-title Categories
    %td
      - @organization.categories.each do |c|
        %div= c.name
  %tr
    %td.row-title Meeting Frequency
    %td= @organization.word_meeting_frequency || content_tag(:em, "Missing")
  %tr
    %td.row-title Meeting Day of Week
    %td= @organization.meeting_day_of_week || content_tag(:em, "Missing")
  %tr
    %td.row-title Meeting Time
    %td= @organization.meeting_time.try(:strftime, "%-I:%M%P") || content_tag(:em, "Missing")
