- category_name ||= "Uncategorized"
.category{:id => category_name.parameterize.underscore, :class => "#{params[:search] ? "col-xs-12" : "col-xs-12 col-sm-6 col-md-4 col-lg-3"}"}
  .list-group
    %span.divider.active.list-group-item
      %h4= category_name
    - organizations.each do |organization|
      = link_to organization.name, organization_path(organization), class: "list-group-item organization_link", data: {push: true}