.row
  .comments
    - if @organization.active_admin_comments.any?
      - @organization.active_admin_comments.each do |comment|
        .comment
          %blockquote.body
            %p= comment.body
            %small.details
              = comment.author.username
              = comment.created_at.strftime(' at %l:%M %p on %b %e, %Y')
    - else
      %p.push40down.text-center.muted= t('comments.none')
      .div.push40down
  = simple_form_for @organization.active_admin_comments.build, url: comments_path(organization: @organization), method: :post do |f|
    = f.input :body, placeholder: "Add a comment...", label: false, class: "col-md-12"
    .col-lg-1.col-md-12.text-right
      = f.submit "Submit", class: "btn btn-default submit_comment"