= simple_form_for @organization, :html => { :class => 'form-horizontal fix_long_textareas' } do |f|
	= f.input :name, placeholder: "Organization name" if f.object.new_record?
	= f.input :description, placeholder: "Describe your organization", input_html: {rows: 1}
	= f.input :primary_category_id, collection: Category.all.collect{|c| [c.name, c.id]}, prompt: "Primary Category"
	= f.association :categories
	= f.input :meeting_frequency, prompt: "Meeting Frequency", collection: Organization::MEETING_FREQUENCIES.sort.map {|k,v| [v,k]}, required: true, input_html: {data: {:show_and_require_time => "2"}}
	= f.input :meeting_day_of_week, prompt: "Day of Week", collection: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
	= f.input :meeting_time, as: :string, input_html: {type: "time", value: @organization.meeting_time.try(:strftime, "%H:%M")}
	= f.input :purpose, placeholder: "What is your organization's mission?", input_html: {rows: 1}
	= f.input :number_of_members, placeholder: "How many members?"
	%hr
	%h4 Fundraising History
	= render "fundraising_form", org_form: f
	- if can?(:create, Organization)
		%hr
		%h4 Leadership
		#organization_leaders
			= f.simple_fields_for :organization_leaders do |ol|
				= render 'organization_leader_fields', :f => ol
			.links.text-right.col-lg-12
				= link_to_add_association 'Add Leader', f, :organization_leaders, class: "btn btn-default add_leader"
	.well.push40down
		= link_to "Cancel", organizations_path, :class => 'btn btn-default'
		= f.button :submit, :class => 'btn-primary pull-right'