#fundraising_hist_table
  %table.table
    %thead
      %tr
        %th Name
        %th Date
        %th Amount Received
        %th
    %tbody
      - org_form.object.fundraising_histories.order("date asc").each do |f|
        %tr
          %td= f.try(:name)
          %td= f.try(:date)
          %td= number_to_currency(f.try(:amount_received))
          %td
      = org_form.simple_fields_for :fundraising_histories, org_form.object.fundraising_histories.build do |fh|
        - org_form.object.errors.messages.select {|key, value| key.to_s.match(/fundraising_histories/) }.each do |k,v|
          %tr.error-row
            %td{colspan: "4"}
              = k.to_s.try(:gsub, /fundraising_histories./, "").try(:titleize)
              = v.first
        = render 'organizations/fundraising_history_fields', :f => fh
      %tr
        %td{colspan: "4"}= link_to_add_association 'Add Fundraising History', org_form, :fundraising_histories, class: "btn btn-default pull-right", partial: 'organizations/fundraising_history_fields', data: {"association-insertion-node" => "#fundraising_hist_table tr:last", "association-insertion-method" => "before"}
