- if @organization.fundraising_histories.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Date
        %th Amount
    %tbody
      - @organization.fundraising_histories.each do |fh|
        %tr
          %td= fh.name
          %td= fh.date.try(:to_formatted_s)
          %td= fh.amount_received
- else
  %p.text-center.muted.push40down There isn't any fundraising history.