%tr.nested-fields
  %td= f.input_field :name, placeholder: "Name"
  %td= f.input_field :date, as: :string, type: "date"
  %td= f.input_field :amount_received, as: :currency, placeholder: "Amount Received"
  %td.remove_assoc
    = link_to_remove_association f, :class => "btn btn-xs btn-default" do
      %i.glyphicon.glyphicon-remove