- if @organization.organization_leaders.size > 0
  .table-responsive.hidden-xs
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Position
          %th Email
      %tbody
        - @organization.organization_leaders.each do |l|
          %tr
            %td= l.fullname
            %td= l.title.try(:titleize)
            %td= mail_to l.email, l.email

  .hidden-md.hidden-lg.hidden-sm
    %dl
      - @organization.organization_leaders.each do |l|
        %dt= [l.title.try(:titleize), l.fullname].compact.join(' ')
        %dd= mail_to l.email, l.email
        %br
- else
  %p.text-center.muted No information