.nested-fields.leadership_row
  .col-lg-12
    = f.input :title, label: "Title", placeholder: "Title"
    = f.input :fname, label: "First name", placeholder: "First name"
    = f.input :lname, label: "Last name", placeholder: "Last name"
    = f.input :email, as: :email, label: "Email address", placeholder: "Email"
    .remove_assoc.text-right
      = link_to_remove_association f, :class => "btn btn-xs btn-default" do
        %i.glyphicon.glyphicon-remove
