- if @organizations.empty?
  %p.text-center.push40down No Results!
- else
  - @organizations.each do |category_name, organizations|
    = render 'category', category_name: category_name, organizations: organizations