.content.push40down
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a{href: "#basic", data: {toggle: "tab"}} Basic Information
    %li
      %a{href: "#leadership", data: {toggle: "tab"}} Leadership
    %li
      %a{href: "#financial", data: {toggle: "tab"}} Fundraising History
    - if can? :view_comments, Organization
      %li
        %a{href: "#comments", data: {toggle: "tab"}} Comments
  .tab-content
    = render partial: "tab_content", locals: {active: true}