#basic.tab-pane.fade.in{:class => (active ? "active" : "")}
  = render "organizations/basic_info"
#leadership.tab-pane.fade
  = render "organizations/leadership"
#financial.tab-pane.fade
  = render "organizations/fundraising_history"
- if can? :view_comments, Organization
  #comments.tab-pane.fade
    = render "organizations/comments"