.row
  .page-header.orgs-index-head
    .row.orgs-search
      %h1.col-sm-6.hidden-xs Organizations
      .col-sm-6.col-xs-12.search-wrap
        .search-hide
          = form_tag organizations_path(format: :js), method: :get, remote: true, id: "search_form" do 
            .input-group.col-lg-8.col-xs-10.pull-right.search-width
              = search_field_tag(:search, params[:search], {class: "form-control search", placeholder: "Search Organizations...", data: {source: names_organizations_path(format: :json)}})
              %span.input-group-btn
                = submit_tag("Go", class: "btn btn-primary search-button")
  #main_orgs_list
    - if @organizations.size > 0
      .organizations_wrapper.row
        - @organizations.each do |category_name, organizations|
          = render 'category', category_name: category_name, organizations: organizations
    - else
      %p.muted{:style => "text-align:center;"} No organizations!
  #results
- if can?(:create, Organization)
  .row.push40down
    = link_to 'New Organization', new_organization_path, class: "btn btn-primary btn-block"
