.page-header
  %h3= @organization.name
.show-wrap
  = render partial: "show"
.well.push40down
  = link_to "Back", organizations_path, :class => 'btn btn-default'
  .pull-right
    = link_to("Edit", edit_organization_path(@organization), :class => 'btn btn-default') if (can? :edit_on_show_page, Organization)
    - if @organization.valid?
      %button.btn.btn-primary{type: "button", data: {toggle: "modal", target: "#help_modal"}} Apply for Grant
    - else
      = link_to "Apply for Grant", organization_id_applications_path(@organization.id), class: "btn btn-primary"

#help_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Terms and Conditions
      .modal-body
        = render file: "applications/help"
      .modal-footer
        %label.col-xs-6
          = check_box_tag "accept_terms"
          I confirm that I have read and understood the terms and conditions.
        .text-right.col-xs-6
          = link_to "Proceed", organization_id_applications_path(@organization.id), class: "btn btn-primary disabled", role: "button", id: "proceed_with_application", data: {"skip-pjax" => true}