.section-container.accordion{"data-section" => "accordion"}
  %section.active
    %p.title{"data-section-title" => ""}
      %a{href: "#panel1"}= @organization.name
    .content{"data-section-content" => ""}
      = render "basic_info"
  %section
    %p.title{"data-section-title" => ""}
      %a{href: "#panel2"} Leadership
    .content{"data-section-content" => ""}
      = render "leadership"
  %a.close-reveal-modal &#215;