.content
  .show-phone= render "organizations/survey_info"
  .category-form.sixteen.columns.alpha
    = form_for :organizations, url: create_survey_organizations_path, method: :post do |f|
      .section-container.accordion{"data-section" => "accordion"}
        - @categories.each_with_index do |category, index|
          %section
            %p.title{"data-section-title" => ""}
              %a{href: "#panel1"}= category.name
              %span.arrow-down
            .content.sixteen.columns.alpha{"data-section-content" => ""}
              - if category.organizations.empty?
                %p.text-center.muted= "There aren't any organizations in the #{category.name} category."
              - else
                - remainder = category.organizations.size % 2
                - category.organizations.each_slice((category.organizations.size/2) + remainder).with_index do |organizations_column, index|
                  - alpha_or_omega = index == 0 ? "alpha" : "omega"
                  .eight.columns{class: alpha_or_omega}
                    - organizations_column.each do |o|
                      .org_checkbox
                        = check_box_tag("category[organization_ids][]", value = o.id, false, {class: "survey_check"})
                        %label
                          %a.surveypopup{data: {id: o.id, source: survey_show_organization_path(o)}}= o.name
      = f.submit "Submit Fresh Start Survey", class: "submit_fresh_start"
#modal.reveal-modal.large
  %p Loading...