.nested-fields.form-group.row.expenditure_inputs
  .col-sm-4.col-xs-12
    = f.input_field :expenditure_type_id, collection: ExpenditureType.all, prompt: "Select a Type"
  .col-sm-3.col-xs-12
    = f.input_field :cost, as: :currency, placeholder: "Cost", class: "inline"
  .col-sm-4.col-xs-12
    = f.input_field :description, as: :string, placeholder: "Description", class: "inline"
  .col-sm-1
    = link_to_remove_association content_tag(:span, "", :class => "remove_assoc close", :data => {:desktop => "&times;".html_safe, :mobile => "Remove"}), f
