- width = 100/Application::STEPS.size
.page-header
	%h3 Grant Application
.progress.app-progress
	- index = Application::STEPS.index(current.to_s)
	- progress = (index + 1) * width
	.progress-bar{:style=> "width:#{progress}%;", :role=>"progressbar", :aria => {:valuenow=>"60", :valuemin=>"0", :valuemax=>"100"}}
		- Application::STEPS.each_with_index do |s,i|
			- class_name = s.to_sym == current ? "active" : "inactive"
			- class_name += " complete" if index > i
			%span.app-step{:class => class_name, :style => "width:#{width}%;left:#{width*i}%;"}
				%span.step_number= "#{i+1}."
				%span.step_title= s.titleize
