= render partial: "applications/steps/head", locals: {current: :event}
.container
	= simple_form_for @application, :url => wizard_path, :method => :put, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
		= f.simple_fields_for :event do |e|
			= e.input :place_of_event, :placeholder => "Where are you going?", required: true
			= e.input :number_attending, as: :integer, :placeholder => "How many people are coming?", required: true
			= e.input :start_date, order: [:month, :day, :year], required: true
			= e.input :end_date, order: [:month, :day, :year], required: true
		.well.push40down
			= link_to "Back", edit_application_path(@application), :class => "btn btn-default"
			= f.submit "Next", :class => "btn btn-primary pull-right"