= render partial: "applications/steps/head", locals: {current: :expenditures}
.container
	= simple_form_for @application, :url => wizard_path, :method => :put, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
		.row
			.col-lg-2.col-xs-12
				%label.control-label Expenditures
			.expenditures.col-lg-10.col-xs-12
				= f.simple_fields_for :expenditures do |ex|
					= render 'expenditure_fields', :f => ex
				.controls{:style => "margin-top:20px;"}
					= link_to_add_association 'Add Expenditure', f, :expenditures, :class => "btn btn-default"

		.well.row.push40down
			= link_to "Back", previous_wizard_path, :class => "btn btn-default"
			= f.submit "Next", :class => "btn btn-primary pull-right"