= render partial: "applications/steps/head", locals: {current: :fundraising_history}
.container
  = simple_form_for @application, :url => wizard_path, :method => :put, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
    = f.simple_fields_for :organization do |org|
      = render "organizations/fundraising_form", org_form: org

    .well.row.push40down
      = link_to "Back", previous_wizard_path, :class => "btn btn-default"
      = f.submit "Submit", :class => "btn btn-primary pull-right"