= render partial: "applications/steps/head", locals: {current: :hotel}
= simple_form_for @application, :url => wizard_path, :method => :put, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
	= f.simple_fields_for :event do |e|
		.hotel_container{:style => "display: none;"}
			- new_hotel = false
			- errors = false
			= e.simple_fields_for :hotel do |h|
				- new_hotel = h.object.new_record?
				- errors = h.object.errors.any?
				= h.input :name, label: "Hotel name", placeholder: "Name"
				= h.input :city, label: "Hotel city", placeholder: "City"
				= h.input :state, label: "Hotel state", collection: us_states, prompt: "Select a state"
				= h.input :phone, as: :tel, label: "Hotel phone", placeholder: "Phone"
				= h.input :cost_per_room, as: :currency
				= h.input :people_per_room, as: :numeric
				= h.input :number_of_rooms, as: :numeric
				= h.input :additional_info, placeholder: "Anything else?", input_html: {rows: 1}
				= h.check_box :_destroy, :class => "destroy_hotel", :style => "display:none;"
		- link_to_add :hotel, (!new_hotel||errors), '.hotel_container', '.destroy_hotel'
	.well.push40down
		= link_to "Back", previous_wizard_path, :class => "btn btn-default"
		= f.submit "Next", :class => "btn btn-primary pull-right"