= render partial: "applications/steps/head", locals: {current: :transportation}
= simple_form_for @application, :url => wizard_path, :method => :put, :html => { :class => 'form-horizontal fix_long_textareas grant_app'} do |f|
  = f.simple_fields_for :event do |e|
    .transportation_container{:style => "display: none;"}
      - new_transport = false
      - errors = false
      = e.simple_fields_for :transportation do |t|
        - new_transport = t.object.new_record?
        - errors = t.object.errors.any?
        = t.input :transportation_type_id, collection: TransportationType.all, prompt: "Type of Transportation"
        = t.input :company_name, placeholder: "Name"
        = t.input :phone, label: "Company phone", placeholder: "Phone" 
        = t.input :website, label: "Company website", placeholder: "Website" 
        = t.input :cost, as: :currency 
        = t.input :additional_info, placeholder: "Anything else?", input_html: {rows: 1} 
        = t.check_box '_destroy', :class => "destroy_transportation", :style => "display:none;"
    - link_to_add :transportation, (!new_transport||errors), '.transportation_container', '.destroy_transportation'
  .well.push40down
    = link_to "Back", previous_wizard_path, :class => "btn btn-default"
    = f.submit "Next", :class => "btn btn-primary pull-right"