!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title= content_for?(:title) ? yield(:title) : "SGA Grants"
    = favicon_link_tag
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type=>"text/css"}
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "print", :media => "print"
    = javascript_include_tag "application"
  %body
    #wrap
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to(root_url, :class => "navbar-brand") do
              %span{:style => "font-weight:700;"} SGA
              Grants
          .collapse.navbar-collapse
            - if user_signed_in?
              %ul.nav.navbar-nav
                %li= link_to "Organizations", organizations_path
                %li= link_to "Applications", applications_path
                - if can?(:finance_report, Application)
                  %li= link_to "Finance Report", finance_report_applications_path
                - if can? :read, ActiveAdmin::Page, :name => "Dashboard"
                  %li= link_to "Admin", admin_root_path, data: {"no-turbolink" => "true"}
            %ul.nav.navbar-nav.pull-right.user-login-dd
              %li.dropdown
                - if user_signed_in?
                  = link_to (current_user.username + content_tag(:b, nil, class: "caret")).html_safe, "#", :class=>"dropdown-toggle", :data => {:toggle => "dropdown"}
                  %ul.dropdown-menu
                    %li= link_to "Profile", user_path(current_user)
                    %li= link_to "Help", help_path
                    %li= link_to "Logout", destroy_user_session_path, :method => :delete
                - else
                  = link_to "Login", new_user_session_path
      = content_for :jumbotron
      .main_content.container
        #content
          = bootstrap_flash
          = yield

    %footer
      .container
        %ul.list-unstyled
          %li
            = link_to "Home", welcome_path
          %li
            = link_to "Organizations", organizations_path
          %li
            %a{href: "http://sga.wvu.edu"} WVU SGA
          %li
            %a{href: "http://sos.wvu.edu"} Student Organization Services
        %p
          %small
            Made by Ray Zane and licensed under the
            %a{href: "https://github.com/rzane/sga_grants/blob/master/COPYING"} GNU General Public License.